@import 'bourbon/bourbon';
html, body, div, span, applet, object, iframe,s
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
*{outline: none;}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*end of reset */


@include font-face(attentica, 'fonts/attentica');
@include font-face(gillbold, 'fonts/gillbold');

body{
  background: #000;
  overflow: hidden;
  font-size: 180%;
  div{
    font-family: attentica;
    color: #fff;
    text-transform: uppercase;
  }


  .black {
    background: rgba(0,0,0,0.36);
    @include transition (background 0.7s ease-in-out);
  }

  .logo{
    position: absolute;
    left: 50%;
    @include transform( translateX(-50%));
    font-size: 100%;
    top: 5%;
  }

  .title {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: 160px;
    font-size: 130%;
    @include transform( translate(-50%,-50%));
    .storie {
       font-family: gillbold;
    }
  }

  .play{
    @extend .title;
    margin-top: 0px;
    img{
      width: 80px;
    }
  }

  .link{
    position: absolute;
    top: 50%;
    @include transform( translateY(-50%));
    .name {
      font-size: 80%
    }
    .storie{
      font-family: gillbold;
      font-size: 50%;
    }
    .arrow {
      img{
        height: 18px;

      }
      padding-bottom: 30px;
    }
  }

  .leftlink{
    left: 5%;
    .arrow img {
      @include transform( scale(-1));

    }
    .name,.storie {
     // text-align: right;
    }

  }
  .rightlink{
    right: 5%;
    .arrow{
      text-align: right;
      margin-left:auto;
    }
    .name,.storie {
      text-align: right;
    }
  }





}














